

.Box1 {
    background-color: royalblue;
    width:600px;
    height:400px;
}

.Box2 {
    background-color: salmon;
    width:400px;
    height:250px;
}

.box3 {
    background-color: seagreen;
    width: 200px;
    height:300px;
}

.box4 {
    background-color: purple;
    height:120px;
    width:350px;
}
